h1, h2, p {
  font-family: Philosopher;
  font-weight: normal;
}
h1 {
  letter-spacing: .2em;
}
body {
  font-family: Philosopher;
}
.subtitle {
  letter-spacing: .2em;
  text-align: center;
}
.row {
  text-align: center;
    width: 100%;
}
.banner {
  width: 100%;
  height: 30em;
  background-image: url('./images/navy4.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(4px); 
  -webkit-filter: blur(4px);
}
